*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background-color: #fff;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

p {
  padding: 0.75rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: #004750;
}

main {
  padding-bottom: 3rem;
  flex: 1;
}

main ul, main ol {
  padding: 1rem 0 1rem 1.5rem;
}

main li {
  padding: 0.33rem 0;
  line-height: 1.7;
}

main li p {
  padding: 0;
  width: 100% !important;
}

main blockquote {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 0.1rem solid #7ca7ad;
  color: #004750;
  font-style: italic;
  font-weight: 500;
}

main kbd {
  background: #1c1c1c;
  color: #fff;
  padding: 0 5px;
}

hr {
  color: inherit;
  opacity: 0.5;
  border: none;
  border-bottom: 2px solid #aaa;
  max-width: 3.6rem;
  margin: 1rem 0;
}

figcaption {
  font-style: italic;
}

figure img {
  vertical-align: middle;
}

body.single_post main a {
  font-weight: 500;
  color: #004750;
}

table {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  border-collapse: collapse;
  background: transparent;
  border-style: hidden;
}

table:not(.ln-table) tr {
  background-color: var(--accent);
}

th {
  text-align: left;
}

thead tr {
  background: #004750 !important;
}

td, th {
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
}

td, th {
  padding: 0.5rem 1rem;
  text-align: left;
  font-weight: 400;
}

td:not(:first-child),
th:not(:first-child) {
  padding-left: 1.5rem;
}

th {
  font-weight: 700;
}

thead {
  background: #004750;
  color: #fff;
}

tbody {
  padding: 0;
}

tbody tr:nth-child(even) {
  background-color: rgba(124, 167, 173, 0.07);
  box-shadow: 0 1rem 0.75rem -0.75rem rgba(0, 0, 0, 0.07);
}

tbody tr:nth-child(odd) {
  background-color: rgba(124, 167, 173, 0.07);
}

.grid-2, .grid-3, .grid-4, .grid-auto, .grid-reverse {
  display: grid;
  grid-template-columns: 1fr;
}

[class*='grid-'] {
  grid-gap: 2rem;
}

@media screen and (min-width: 42rem) {
  .grid-auto {
    grid-template-columns: 1fr 3fr;
  }
  .grid-reverse {
    grid-template-columns: 3fr 1fr;
  }
  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-3 {
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  }
  .grid-4 {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
}

.wrap {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav_header {
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #7ca7ad;
  color: #fff;
  z-index: 99;
}

.nav_home {
  background-color: transparent;
  color: #004750;
}

.nav_logo {
  max-width: 10rem;
}

.nav_shadow {
  box-shadow: 0 0 6rem rgba(28, 28, 28, 0.27);
}

.nav_submenu {
  position: absolute;
  min-width: 16rem;
  background: #fff;
  z-index: 1;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  left: 0;
  border-radius: 0.8rem;
  list-style-type: none;
  top: 3rem;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-out;
}

.nav_parent {
  position: relative;
  padding: 0.5rem 0.5rem 0;
}

.nav_parent > .nav_active::after {
  bottom: -0.25rem;
}

.nav_parent:hover .nav_submenu {
  opacity: 1;
  height: initial;
}

.nav_item {
  text-decoration: none;
  padding: 0.5rem;
  position: relative;
  text-transform: uppercase;
  height: 100%;
}

.nav_item:hover {
  opacity: 0.5;
}

.nav_subitem {
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  display: block;
  text-align: left;
}

.nav_subitem::after {
  display: none !important;
}

.nav_icon {
  width: 0.8rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.nav_active {
  opacity: 0.75;
}

.nav_top {
  display: grid;
  grid-template-columns: 11rem 1fr;
  grid-gap: 1rem;
}

.nav_search {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

@media screen and (min-width: 769px) {
  .nav_search {
    justify-content: flex-end;
  }
}

.nav_toggle {
  display: none;
}

@media screen and (min-width: 769px) {
  .nav_scroll {
    transform: translateY(-10rem);
    transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    will-change: transform;
  }
}

@media screen and (min-width: 769px) {
  .nav_fixed {
    position: fixed !important;
    z-index: 101;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(0);
    background-color: #7ca7ad;
    color: #fff;
  }
}

.footer {
  background: #1c1c1c;
  color: #fff;
  padding: 1rem 0;
}

.footer_item {
  text-decoration: none;
  transition: opacity 0.3s ease-out;
  padding: 0.5rem;
  text-transform: uppercase;
}

.footer_item:hover {
  opacity: 0.75;
}

.footer_inner {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
}

.video {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin: 1.5rem 0;
  border-radius: 1rem;
  background-color: #7ca7ad;
}

.video iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.date {
  font-size: 0.9rem;
}

.excerpt {
  margin: 0.5rem 0;
  position: relative;
  overflow: hidden;
  min-height: 20rem;
  cursor: pointer;
}

@media screen and (min-width: 667px) {
  .excerpt:first-child {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.excerpt a {
  text-decoration: none;
}

.excerpt_thumbnail {
  display: grid;
  min-height: 15rem;
  background-size: cover;
  background-position: 50% 50%;
}

.excerpt_body {
  padding: 1rem;
}

.excerpt_link {
  color: #004750;
}

.excerpt_meta {
  opacity: 0.6;
}

.excerpt_image {
  background-color: #7ca7ad;
  background-position: center;
  background-size: cover;
  min-height: 15rem;
}

.excerpt_title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.33rem;
}

.excerpt_title a {
  text-decoration: none;
}

.excerpt_title a:hover {
  text-decoration: initial;
}

.excerpt .tag {
  display: none;
}

.pagination {
  list-style-type: none;
  display: flex;
  margin: 2rem 0;
  justify-content: center;
}

.page-item {
  height: 1.5rem;
  line-height: 0.8em;
  width: 1.5rem;
  margin: 0.33rem;
  border-radius: 0.2rem;
  display: inline-grid;
  align-items: center;
  text-align: center;
}

.page-item.active {
  background: #7ca7ad;
  color: #fff;
  box-shadow: 0 0 1rem rgba(28, 28, 28, 0.12);
}

.page-item.disabled {
  opacity: 0.5;
}

.page-link {
  text-decoration: none;
  font-size: 0.9rem;
}

.author {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-gap: 0.5rem;
}

.author_name {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.1rem;
}

.author_name a {
  text-decoration: none;
  color: inherit;
}

.author_name + p {
  padding-top: 0;
  padding-bottom: 0;
}

.author_title {
  opacity: 0.5;
  text-transform: uppercase;
}

@media screen and (max-width: 667px) {
  .author_bio {
    grid-column: 1/-1;
  }
}

.avatar {
  width: 3rem;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.button {
  background-color: #004750;
  color: #fff;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  text-decoration: none;
  width: 12rem;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 0.5rem 2.25rem rgba(124, 167, 173, 0.05);
}

.button_light {
  background-color: #7ca7ad;
}

.hero {
  background-size: cover;
  position: absolute;
  display: grid;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/header-1.jpg);
  background-position: top right;
  transform-origin: 50% 50%;
  transition: transform 10s cubic-bezier(0.19, 1, 0.22, 1);
}

.hero .wrap {
  width: 100%;
}

.hero_wrap {
  height: 64vh;
  max-height: 30rem;
  position: relative;
  overflow: hidden;
  perspective: 700px;
}

.hero_banner {
  font-weight: 700;
  font-size: 2.5rem;
  color: #004750;
}

.hero_banner .button {
  font-size: 0.9rem;
}

@media screen and (max-width: 992px) {
  .hero_banner {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 667px) {
  .hero_banner {
    font-size: 1.75rem;
  }
}

.contents figure, .contents img {
  display: block;
}

.contents figure, .contents img {
  margin: 1.5rem 0;
  width: 100%;
}

.contents figure, .contents figcaption {
  transform-origin: 50% 50%;
}

@media screen and (min-width: 1024px) {
  .contents figure {
    transform: scale(1.1);
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .contents figcaption {
    transform: scaleX(0.9);
    margin-left: auto;
    margin-right: auto;
  }
}

.tag {
  display: inline-flex;
  align-items: center;
  padding: 0.2rem 1rem;
  border-radius: 0.25rem;
  background-color: #f5f5f5;
  text-decoration: none;
  font-size: 0.9rem !important;
}

.tag:hover {
  background-color: #004750;
  color: #fff;
}

.tags {
  text-align: center;
}

.social_icon {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  position: relative;
  background-color: transparent;
  transition: opacity 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  margin: 0 0.25rem;
}

.social_icon:hover {
  opacity: 0.6;
}

.social_icon::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-size: 100%;
  background-repeat: no-repeat;
}

.reddit::after {
  background-image: url(/images/reddit.svg);
}

.github::after {
  background-image: url(/images/github.svg);
}

.twitter::after {
  background-image: url(/images/twitter.svg);
}

.linkedin::after {
  background-image: url(/images/linkedin.svg);
}

.aside_widget {
  position: sticky;
  top: 7rem;
}

.aside .tags {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .nav {
    transform: translateX(-120%);
    background: #004750;
    min-height: 100vh;
    padding-top: 1rem;
    transition: transform 0.3s ease-out;
    position: fixed;
    z-index: -1;
    display: flex;
    flex-direction: column;
    top: 0;
    opacity: 0;
    justify-content: flex-start;
    color: #fff;
  }
  .nav_header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .nav_toggle {
    display: grid;
    align-items: center;
    width: 2rem;
    text-align: center;
    cursor: pointer;
  }
  .nav_show {
    transform: translateX(-1.5rem);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: left;
    position: fixed;
    z-index: 10;
    width: 84%;
    opacity: 1;
    box-shadow: 0 0 10rem rgba(28, 28, 28, 0.27);
  }
  .nav_item {
    padding-left: 0;
    display: block;
    text-align: left;
  }
  .nav_submenu {
    position: relative;
    display: block;
    opacity: initial;
    top: initial;
    padding: 0 0 0 1rem;
    height: initial;
    background-color: transparent;
    box-shadow: none;
  }
  .nav_parent {
    padding: 0;
  }
  .nav_search {
    display: none;
  }
  .nav_toggle {
    display: inline-grid;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
    z-index: 99;
  }
  .nav_top {
    grid-template-columns: 1fr 1.5rem;
  }
  .footer_body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem 1.5rem;
  }
}

.align_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  text-align: center;
}

.pbt_1 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.pb_1 {
  padding-bottom: 25px;
}

.pt_1 {
  padding-top: 25px;
}

.mt_1 {
  margin-top: 25px;
}

.mb_1 {
  margin-bottom: 25px;
}

.pbt_2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pb_2 {
  padding-bottom: 50px;
}

.pt_2 {
  padding-top: 50px;
}

.mt_2 {
  margin-top: 50px;
}

.mb_2 {
  margin-bottom: 50px;
}

.pbt_3 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.pb_3 {
  padding-bottom: 75px;
}

.pt_3 {
  padding-top: 75px;
}

.mt_3 {
  margin-top: 75px;
}

.mb_3 {
  margin-bottom: 75px;
}

.pbt_4 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pb_4 {
  padding-bottom: 100px;
}

.pt_4 {
  padding-top: 100px;
}

.mt_4 {
  margin-top: 100px;
}

.mb_4 {
  margin-bottom: 100px;
}

.pbt_5 {
  padding-top: 125px;
  padding-bottom: 125px;
}

.pb_5 {
  padding-bottom: 125px;
}

.pt_5 {
  padding-top: 125px;
}

.mt_5 {
  margin-top: 125px;
}

.mb_5 {
  margin-bottom: 125px;
}

.pbt_6 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.pb_6 {
  padding-bottom: 150px;
}

.pt_6 {
  padding-top: 150px;
}

.mt_6 {
  margin-top: 150px;
}

.mb_6 {
  margin-bottom: 150px;
}

.scrollable {
  margin: 1rem 0;
  overflow-x: auto;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
  max-width: calc(100vw - 3rem);
}

code {
  max-width: 100%;
  overflow-x: auto;
}

.highlight {
  margin: 1.5rem 0 2.5rem;
  display: grid;
  width: 100%;
  max-width: calc(100vw - 3rem);
  background-color: #f5f5f5 !important;
  border-radius: 0 0.2rem 0.2rem 0;
  overflow-x: auto;
  box-shadow: 0 1rem 4rem rgab(#1c1c1c, 0.12);
}

.highlight .highlight {
  margin: 0;
}

.highlight pre:not(.highlight) {
  padding: 1rem;
  margin-bottom: 0;
}

.highlight pre {
  color: #1c1c1c !important;
  border-radius: 4px;
  width: 100%;
  display: block;
  max-width: 100%;
}

.highlight table {
  display: grid;
  max-width: 100%;
}

.highlight .lntd {
  width: 100%;
  border: none;
}

.highlight .lntd:first-child {
  background-color: #004750;
}

.highlight .lntd:first-child, .highlight .lntd:first-child pre {
  width: 2.5rem !important;
  padding-left: 0;
  padding-right: 0;
  color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 0.25rem 0 0 0.25rem;
  user-select: none;
}

.highlight .lntd:first-child pre {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.err {
  color: #a61717;
  background-color: #e3d2d2;
}

.hl {
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
}

.ln {
  margin-right: 0.4rem;
  padding: 0 0.4em 0 0.4rem;
  color: #666;
}

.k, .kc, .kd, .kn, .kp, .kr, .kt, .nt {
  color: #6ab825;
  font-weight: 500;
}

.kn, .kp {
  font-weight: 400;
}

.nb, .no, .nv {
  color: #24909d;
}

.nc, .nf, .nn {
  color: #447fcf;
}

.s, .sa, .sb, .sc, .dl, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
  color: #ed9d13;
}

.m, .mb, .mf, .mh, .mi, .il, .mo {
  color: #3677a9;
}

.ow {
  color: #6ab825;
  font-weight: 500;
}

.c, .ch, .cm, .c1 {
  color: #999;
  font-style: italic;
}

.cs {
  color: #e50808;
  background-color: #520000;
  font-weight: 500;
}

.cp, .cpf {
  color: #cd2828;
  font-weight: 500;
}

.gd, .gr {
  color: #d22323;
}

.ge {
  font-style: italic;
}

.gh, .gu, .nd, .na, .ne {
  color: #ffa500;
  font-weight: 500;
}

.gi {
  color: #589819;
}

.go {
  color: #ccc;
}

.gp {
  color: #aaa;
}

.gs {
  font-weight: 500;
}

.gt {
  color: #d22323;
}

.w {
  color: #666;
}

.hljs-string {
  color: #6ab825;
}

.hljs-attr {
  color: #ed9d13;
}

.p .hljs-attr {
  color: #fff;
}

/*# sourceMappingURL=main.css.map */