{{- define "body_class"}}class="single_post"{{ end }}
{{- define "main" }}
<div class = 'grid-reverse wrap pt_4'>
  <div class = 'contents'>
    <h1>{{ .Title }}</h1>
    {{ partial "meta.html" . }}
    <img src = '/images/{{ .Params.image }}' alt = '{{ .Title }}'>
    {{- .Content }}
  </div>
  <aside class = 'pt_1 aside'>
    <div class = 'aside_widget'>
      <h3 class = 'mb_1'>Tags</h3>
      {{- partial "tags.html" . }}
      <h3 class = 'mt_1'>Learn FP in Scala</h3>
      <p>
        Are you interested in learning functional programming in Scala? <a href ='https://github.com/fp-tower/foundation'>Take our course Foundation</a>
      </p>
    </div>
  </aside>
</div>
{{- end }}
