* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  font-family: $fallback-fonts;
  line-height: 1.5;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background-color: $light;
}
img {
  max-width: 100%;
}
a {
	color:inherit;
}
p {
  padding: 0.75rem 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: $bg;
}
main  {
  padding-bottom: 3rem;
  flex: 1;
  ul, ol {
    padding: 1rem 0 1rem 1.5rem;
  }
  li {
    padding: 0.33rem 0;
    line-height: 1.7;
    p {
      padding: 0;
      width: 100% !important;
    }
  }
	blockquote {
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding-left: 1rem;
    border-left: 0.1rem solid $theme;
    color: $bg;
    font-style: italic;
    font-weight: 500;
	}
	kbd {
    background:$dark;
    color:#fff;
    padding:0 5px;
	}
}

hr {
  color: inherit;
  opacity: 0.5;
  border: none;
  border-bottom: 2px solid #aaa;
  max-width: 3.6rem;
  margin: 1rem 0;
}

figcaption {
	font-style: italic;
}

body.single_post {
	main {
		a {
			font-weight: 500;
			color: $bg;
		}
	}
}

table {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  border-collapse: collapse;
  background: transparent;
  border-style: hidden;
  &:not(.ln-table) tr{
    background-color: var(--accent);
  }
}
th {
  text-align: left;
}
thead tr{
  background: $bg !important;
}
td, th{
  padding: 0.5rem 1rem;
  border: 2px solid $light;
}

td,
th {
  padding: 0.5rem 1rem;
  text-align: left;
  font-weight: 400;
  &:not(:first-child) {
    padding-left: 1.5rem;
  }
}
th {
  font-weight: 700;
}

thead {
  background: $bg;
  color: $light;
}

tbody {
  padding: 0;
  tr {
    &:nth-child(even) {
      background-color: rgba($theme, 0.07);
      box-shadow: 0 1rem 0.75rem -0.75rem rgba(0,0,0,0.07);
    }
    &:nth-child(odd) {
      background-color: rgba($theme, 0.07);
    }
  }
}
    
