
.wrap {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
  &_header {
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: $theme;
    color: $light;
    z-index: 99;
  }
  &_home {
    background-color: transparent;
    color: $bg;
  }
  &_logo {
    max-width: 10rem;
  }
  &_shadow {
    box-shadow: 0 0 6rem rgba($dark, 0.27);
  }
  &_submenu {
    position: absolute;
    min-width: 16rem;
    background: $light;
    z-index: 1;
    box-shadow: 0 0 2rem rgba(0,0,0,0.1);;
    padding: 1rem 0;
    left: 0;
    border-radius: 0.8rem;
    list-style-type: none;
    top:3rem;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-out;
  }
  &_parent {
    position: relative;
    padding: 0.5rem 0.5rem 0;
  }
  &_parent > &_active {
    &::after {
      bottom: -0.25rem;
    }
  }
  &_parent:hover &_submenu {
    opacity: 1;
    height: initial;
  }
  &_item {
    text-decoration: none;
    padding: 0.5rem;
    position: relative;
    text-transform: uppercase;
    height: 100%;
    &:hover {
      opacity: 0.5;
    }
  }
  &_subitem {
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    display: block;
    text-align: left;
    &::after {
      display: none !important;
    }
  }
  &_icon {
    width: 0.8rem;
    vertical-align: middle;
    margin-right: 0.5rem;
  }
  &_active {
    opacity: 0.75;
  }
  &_top {
    display: grid;
    grid-template-columns: 11rem 1fr;
    grid-gap: 1rem;
  }
  &_search {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    @media screen and (min-width: 769px) {
      justify-content: flex-end;
    }
  }
  &_toggle {
    display: none;
  }
  &_scroll {
    @media screen and (min-width: 769px) {
      transform: translateY(-10rem);
      transition: transform 1.5s $ease;
      will-change: transform;
    }
  }
  
  &_fixed {
    @media screen and (min-width: 769px) {
      position: fixed !important;
      z-index: 101;
      left: 0;
      right: 0;
      top: 0;
      transform: translateY(0);
      background-color: $theme;
      color: $light;
    }
  }
}

.footer {
  background: $dark;
  color: $light;
  padding: 1rem 0;
  &_item {
    text-decoration: none;
    transition: opacity 0.3s ease-out;
    padding: 0.5rem;
    text-transform: uppercase;
    &:hover {
      opacity: 0.75;
    }
  }
  &_inner {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.video{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  margin: 1.5rem 0;
  border-radius: 1rem;
  background-color: $theme;
  iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
}

.excerpt {
  box-shadow: 0 0 3rem rgba($dark, 0.12);
  margin: 0.5rem 0;
  position: relative;
  // border-radius: 1rem;
  overflow: hidden;
  min-height: 20rem;
  cursor: pointer;

  &:first-child {
    @media screen and (min-width: 667px) {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }
  a {
    text-decoration: none;
  }
  &_thumbnail {
    display: grid;
    min-height: 15rem;
    background-size: cover;
    background-position: 50% 50%;
  }
  &_body {
    padding: 1rem;
  }
  &_link {
    color: $bg;
  }
  &_meta {
    opacity: 0.6;
  }
  
  &_image {
    background-color: $theme;
    background-position: center;
    background-size: cover;
    min-height: 15rem;
  }
  &_title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.33rem;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: initial;
      }
    }
  }
  .tag {
    display: none;
  }
}


.pagination {
  list-style-type: none;
  display: flex;
  margin: 2rem 0;
  justify-content: center;
}

.page {
  &-item {
    height:1.5rem;
    line-height:0.8em;
    width: 1.5rem;
    margin: 0.33rem;
    border-radius: 0.2rem;
    display: inline-grid;
    align-items: center;
    text-align: center;
    &.active {
      background: $theme;
      color: $light;
      box-shadow: 0 0 1rem rgba($dark, 0.12);
    }
    &.disabled {
      opacity: 0.5;
    }
  }
  &-link {
    text-decoration: none;
    font-size: 0.9rem;
  }
} 

.author {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-gap: 0.5rem;
  align-items: center;
  &_name {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.1rem;
    a {
      text-decoration: none;
      color: inherit;
    }
    + p {
      padding-top: 0.25rem
    }
  }
  &_title {
    opacity: 0.5;
    text-transform: uppercase;
  }
  &_bio {
    @media screen and (max-width: 667px) {
      grid-column: 1/-1;
    }
  }
}

.avatar {
  width: 3rem;
  overflow: hidden;
  img {
    width: 100%;
    border-radius: 50%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.button {
  background-color: $bg;
  color: $light;
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  text-decoration: none;
  width: 12rem;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 0.5rem 2.25rem rgba($theme,.05);
  &_light {
    background-color: $theme;
  }
}

.hero {
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/header-1.jpg);
  transform-origin: 50% 50%;
  transition: transform 10s $ease;
  &_move {
    transform: scale(1.25);
  }
  &_wrap {
    height: 64vh;
    max-height: 30rem;
    background-position: center top;
    position: relative;
    overflow: hidden;
    perspective: 700px;
  }
}

.contents {
  figure, img {
    display:block;
  }
  figure, img {
    margin: 1.5rem 0;
    width: 100%;
  }
  figure, figcaption {
    transform-origin: 50% 50%;
  }
  figure{
    @media screen and (min-width: 1024px) {
      transform: scale(1.1);
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  }
  figcaption {
    @media screen and (min-width: 1024px) {
      transform: scaleX(0.9);
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.tag {
  display: inline-flex;
  align-items: center;
  padding: 0.2rem 1rem;
  border-radius: 0.25rem;
  background-color: $haze;
  text-decoration: none;
  font-size: 0.9rem !important;
  &:hover {
    background-color: $bg;
    color: $light;
  }
  &s {
    text-align: center;
  } 
}

.social {
  &_icon {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    position: relative;
    background-color: transparent;
    transition: opacity 0.3s $ease;
    margin: 0 0.25rem;
    &:hover {
      opacity: 0.6;
    }
    &::after {
      content: "";
      width: 1rem;
      height: 1rem;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
}

$sites:  "reddit", "github", "twitter", "linkedin";

@each $site in $sites {
  .#{$site} {
    &::after {
      background-image: url(/images/#{$site}.svg);
    }
  }
}

.aside {
  &_widget {
    position: sticky;
    top: 7rem;
  }
  .tags {
    text-align: left;
  }
}
