.align{
  &_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.center {
  text-align: center;
}
@for $i from 1 through 6 {
  $p : $i * 25px;
  .pbt_#{$i} {
    padding-top: $p;
    padding-bottom: $p;
  }
  .pb_#{$i} {
    padding-bottom: $p;
  }
  .pt_#{$i} {
    padding-top: $p;
  }
  .mt_#{$i} {
    margin-top: $p;
  }
  .mb_#{$i} {
    margin-bottom: $p;
  }
}
.scrollable {
  margin: 1rem 0;
  overflow-x: auto;
  box-shadow: 0 1rem 4rem rgba(0,0,0,0.15);
}
