{{ define "main" }}
  {{ .Content }}

	<h1>404: Helaas kan ik die pagina niet vinden, sorry...</h1>

	<p>Je bent op een link terecht gekomen die niet werkt. Wat nu?</p>

	<p>Om te beginnen: <strong>Geen paniek!</strong> Dit kan gewoon gebeuren.</p>

	<p>Ben je hier terecht gekomen <strong>via een link</strong> (of die nu van mij is, of van iemand anders), neem dan alsjeblieft <a href="/contact/">contact</a> met me op. Als ik weet waar de link staat, kan ik het oplossen. Voor jou, én voor andere mensen!</p>

	<p>Heb je de link zelf ingetypt? Controleer dan of er misschien een typefout of spelfout in zit.</p>

	<p>In elk geval is het fijn als ik hier van op de hoogte ben, zodat ik het kan oplossen. Dus <a href="/contact/">schroom niet om me een e-mail te sturen</a>.</p>
{{ end }}
