{{- define "main" }}
<div class = 'hero_wrap mb_1'>
  <div class = 'hero'>
    {{ with .Params.banner }}
    <div class = 'wrap'>
      <div class = 'hero_banner'>
        {{ .text | upper | markdownify }}
      </div>
    </div>
    {{ end }}
  </div>
</div>
<section class = 'wrap'>
  <h2 class = 'center mb_1'>Blog Articles</h2>
  <div class = 'grid-3'>
    {{- range .Paginator.Pages }}
    {{ partial "excerpt.html" . }}
    {{- end }}
  </div>
</section>
{{- template "_internal/pagination.html" . }}
{{- end }}
